<div class="row">

  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Latest Tweets with #<%= search.query %></h3>
      </div>  
      <div class="panel-body">
        <% posts["statuses"].each do |post| %>
          Tweet: "<%= post["text"] %>"<br>
          Name: <%= post["user"]["name"] %><br>
          Profile Picture: <%= image_tag post["user"]["profile_image_url"], size: "30x30" %><br>
            <% if post["entities"]["media"].present? %>
              Image: <%= image_tag post["entities"]["media"][0]["media_url"] %>
            <% end %><br>
          <br>  
        <% end %>
      </div> 
    </div>
  </div>

 
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Real-time stock info for "<%= search.query %>"</h3>
      </div>  
       <div class="panel-body">
        <% stocks.each do |stock| %>
          <% if stock.name == "N/A" %>
            <div class="error-message">
              <strong><em>Error: ticker not found. Please try your search again.</em></strong>
            </div>    
          <% else %>
            Company name: <%= stock.name %><br>
            Ask price: <%= stock.ask %><br>
            Bid price: <%= stock.bid %><br>          
            Change in price: <%= stock.change %><br>           
            Market cap.: <%= stock.market_capitalization %><br>          
            Day value change: <%= stock.day_value_change %><br>          
            Earnings per share: <%= stock.earnings_per_share %> <br>
          <% end %><br>
        <% end %>  
      </div>  
    </div>
  </div>

</div>   

